<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Css Link -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Shannon Muay Thai Academy</title>

</head>

<body>
    <!-- Template Content-->
    {% block content %}
    {% endblock %}

    <!-- Footer section -->
    <footer class="mt-auto">
        <!-- Social Media Links -->
        <span>Find us on:</span>

        <a href="https://www.facebook.com/profile.php?id=100063625269637" target="_blank" rel="noopener"
            aria-label="Find us on Facebook (link opens in a new tab)"><i class="fab fa-facebook"></i>
        </a>

        <a href="https://www.instagram.com/shannon_muaythaiacademy/?hl=en" target="_blank" rel="noopener"
            aria-label="Find us on Instagram (link opens in a new tab)"><i class="fab fa-instagram"></i>
        </a>

        <br>
        <!-- Contact number and Gym Address -->
        <span>Contact us: 086 455 3487</span>

        <br>

        <span>Unit M1b, Smithstown Industrial Estate, Shannon, Co. Clare</span>
    </footer>



    <!-- font awesome script -->
    <script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js"
        integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Navbar opacity changes when scrolling -->
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#nav-scroll').addClass('opacity-filled').removeClass('opacity');
            } else {
                $('#nav-scroll').removeClass('opacity-filled').addClass('opacity');
            }
        });
    </script>

</body>

</html>