{% extends 'base.html' %}

{% block content %}
<div class="mb-5 pb-5">
    <!-- Navigation bar -->
    {% include 'navbar.html' %}
</div>
<div class="about mt-5">

    <div class="about-text text-center float-left pt-5 mt-4 border">
        <h2>Your Booked In!</h2>
        <hr>
        <div class="mt-5 pt-5 md-form md-outline" inline="true">
            <p>Your booked in for a private training session!</p>
        </div>
    </div>

    <div class="about-div float-right">
        <img class="about-img rounded" src="/static/images/MT check.jpg" alt="Training session picture">
    </div>
</div>
{% endblock %}