{% extends 'base.html' %}

{% block content %}
<!-- Hero Image that sits behind class info and navbar -->
<div class="hero-img">
    <!-- Navigation bar -->
    {% include 'navbar.html' %}

    <!-- Class times information -->
    <div class="times text-center">
        <img class="rounded" id="logo" src="/static/images/logo.jpg" alt="Muay Thai logo">
        <!-- <h2>Class Times:</h2> -->
        <br>
        <br>
        <h2>General Classes</h2>
        <hr>
        <p>Tuesday: 19:30</p>
        <p>Wednesday: 19:30</p>
        <p>Friday: 19:30</p>
        <p>Saturday: 12:30</p>
        <br>

        <h2>Kid's Classes</h2>
        <hr>
        <p>Wednesday: 16:45</p>
        <p>Saturday: 14:30</p>
    </div>
</div>

<!-- Class Section -->
<div class="about">

    <div class="about-text text-center float-left p-2 mt-5 border">
        <h2>Our Classes</h2>
        <hr>
        <p class="py-4">
            Our training sessions are open to all skill and cardio levels from beginner to advanced.
            Training sessions consist of a combination of drills, pad-work, and for more advanced members -
            clinching and sparring.
            <br>
            The classes are designed to improve your cardio and striking ability.
            <br>
            Any required gear is available at the gym for those who don't have their own.
            <br>
            Classes are €10 per session or monthly membership is €65
            <br>
            Want to book a private training sessions instead?
            <br>
            Check availibilty here!
        </p>
    </div>

    <div class="about-div float-right">
        <img class="about-img rounded" src="/static/images/ryan.png" alt="Picture of a kick from training session">
    </div>

</div>

<!-- Kids Class Section -->
<div class="about pt-5">

    <div class="about-div float-left">
        <img class="about-img rounded m-2" src="/static/images/MT KIDS.jpg" alt="Photo of kids class">
    </div>

    <div class="about-text text-center float-right p-5 mt-5 border">
        <h2>Kids Classes</h2>
        <hr>
        <p>
            The kids classes teaches kids the fundamentals of the sport, while also mixing in fun games.
            This shows the kids the basic principals of muay thai, while keeping things light-hearted and playful.
            The aim of these classes is to get the kids interested in the sport, while ensuring they have fun and
            enjoy each session.

        </p>
    </div>

</div>


{% endblock %}