<div class="nav">
    <nav id="nav-scroll" class="navbar navbar-expand-lg fixed-top mb-5  opacity">
        <!-- Gym title -->
        <a class="navbar-brand" id="logo-title" href="{% url 'home' %}">
            Shannon Muay Thai Academy
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <!-- Navigation Links -->
            <ul class="navbar-nav mr-auto">
                <!-- Link to home page -->
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>

                <!-- Link to the Booking Page -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'date' %}">Book a session</a>
                </li>

                {% if user.is_authenticated %}

                <!-- If logged in, user can check existing bookings -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_bookings' %}">View my bookings</a>
                </li>

                <!-- If logged in, user can logout -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout'%}">Logout</a>
                </li>

                {% else %}
                <!-- Link to Login page -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login'%}">Login</a>
                </li>
                <!-- Link to registration page -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register_user'%}">Make an account</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </nav>
</div>