{% extends 'base.html' %}

{% block content %}
<div class="mb-5 pb-5">
    <!-- Navigation bar -->
    {% include 'navbar.html' %}
</div>
<div class="about mt-5">

    <div class="text-center text-white pt-5 mt-4 border w-50 mx-auto">
        <h2>Your booked sessions</h2>
        <hr>
        <div class="md-form md-outline" inline="true">

            {% if booking_list > 0 %}
            {% for booking in booking_list %}
            <p class="bg-danger rounded py-4 my-3 w-75 mx-auto">You have a session booked at {{ booking.slot }} on
                {{ booking.booking_date }}
            </p>
            {% endfor %}
            {% else %}
            <p class="py-5"> You have no sessions booked! </p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}