body {
    background-color: black;
}

#logo-title {
    font-family: 'Lobster';
    font-size: 2.5rem;
    padding: .5rem;
}

#logo {
    max-width: 7rem;

}

.navbar {
    width: 100%;
    opacity: .8;
}

.nav-link {
    color: red;
    font-size: large;
}

.hero-img {
    background: url('/static/images/bag.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.times {
    color: white;
    padding-left: 60%;
    margin-top: 8rem;
    padding-bottom: 3rem;
    font-size: large;
}

h2 {
    padding: 5%;
    margin: 0;
}

hr {
    width: 60%;
    margin-left: 20%;
}

.about {
    margin: 2rem;
    overflow: auto;
}

.about-div {
    width: 45%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.about-img {
    max-width: 90%;
}

.about-text {
    color: white;
    width: 45%;
}

.home-img-div {
    overflow: auto;
    width: 100%;
}

.home-img {
    width: 33%;
    display: inline-block;
}

footer {
    clear: both;
    z-index: 1;
    background-color: white;
    width: 100%;
    text-align: center;
    color: black;
    padding: 1em;
    margin-top: 1em;
    opacity: .8;

}