{% extends 'base.html' %}

{% block content %}
<div class="mb-5 pb-5">
    <!-- Navigation bar -->
    {% include 'navbar.html' %}
</div>
<div class="about mt-5">

    <div class="about-text text-center float-left pt-5 mt-4 border">
        <h2>Login</h2>
        <hr>
        <div class="md-form md-outline" inline="true">
            <form method="POST" class="px-5">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Email:</label>
                    <input type="text" class="form-control" name="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

            </form>
        </div>
    </div>

    {% endblock %}