{% extends 'base.html' %}

{% block content %}
<div class="mb-5 pb-5">
    <!-- Navigation bar -->
    {% include 'navbar.html' %}
</div>
<div class="about my-5">

    <div class="text-white py-4 mt-4 border shadow">

        <h2 class="text-center">Register</h2>

        {% if form.errors %}
        <div class="alert alert-danger m-3 w-50 mx-auto" role="alert">
            <strong>There was an error with your registration, please try again</strong>
        </div>
        {% endif %}

        <hr>
        <div class="md-form md-outline w-50 mx-auto" inline="true">
            <form method="POST" class="px-5 py-2">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary my-3">Register</button>
            </form>

        </div>
    </div>

</div>
{% endblock %}