{% extends 'base.html' %}

{% block content %}
<div class="mb-5 pb-5">
    <!-- Navigation bar -->
    {% include 'navbar.html' %}
</div>
<div class="about mt-5">

    <div class="members text-center text-white pt-5 mt-4 border mx-auto">
        <h2>My Bookings</h2>
        <hr>

        <div class="md-outline">
            <!-- If user deletes session, message appears -->
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger m-3 w-50 mx-auto" role="alert">
                <strong>{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}

            <!-- Checks if user has any past or upcoming sessions -->
            {% if booking_list %}
            <!-- Displays users upcoming booked sessions from database -->
            <h3>Upcoming sessions</h3>
            <hr>
            {% if upcoming_booking_list %}
            {% for booking in upcoming_booking_list %}
            <p class="booked bg-danger rounded py-2 my-2 w-75 mx-auto">You have a session booked at {{ booking.slot }}
                on
                {{ booking.booking_date }}
                <!-- Button for deleting session -->
                <a href="{% url 'delete_bookings' booking.id %}"
                    class="delete-booking btn btn-outline-light btn-sm m-2">Delete</a>
            </p>
            {% endfor %}
            {% else %}
            <!-- If user has no upcoming sessions booked -->
            <p class="py-5"> You have no upcoming sessions booked! </p>
            <!-- Link to booking page -->
            <a class="btn btn-light btn-sm m-2" href="{% url 'date'%}">Book here!</a>
            {% endif %}
            <!-- If User has completed sessions before -->
            {% if past_booking_list %}
            <hr>
            <!-- Users previous sessions -->
            <h3>Past Sessions</h3>
            <hr>
            {% for booking in past_booking_list %}

            <p class="booked bg-danger rounded py-3 my-2 w-75 mx-auto">You completed a session at {{ booking.slot }}
                on
                {{ booking.booking_date }}
            </p>
            {% endfor %}
            {% endif %}
            {% else %}
            <!-- If user has no past or future sessions booked, returns a message -->
            <p class="py-5"> You have no sessions booked! </p>
            <!-- Link to booking page -->
            <a class="btn btn-light btn-sm m-2" href="{% url 'date'%}">Book here!</a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}